

/*--------------------PRODUCTOS ---------------------------------------- */

.title{
    font-size: 2.4rem;
    padding: 2px 0 0 0;
    color: #0062cc;
    margin-left: 20px;
}

.productos{
    padding: 5rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 1rem;
    box-sizing: border-box;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.producto:hover{
    border: #0063cc62 solid 6px ;
}

.producto__img img{
    width: 310px;
}

.producto__footer{
    padding: 1rem;
}

.producto__footer h1{
    font-weight: 600;
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.producto__footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.55);
    text-transform: uppercase;
    font-size: 18px;
}

.producto__footer .price{
    font-size: 2rem;
    color: black;
}

.producto .buttom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 2rem;
}

.buttom .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

.buttom button{
    background-color: #3033d3 ;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
  
}

.buttom button:hover{
    background-color: #4d4db7d2;
    color: black;
}

.buttom div{
    background-color: #08a06c;
    display: grid;
    align-items: center;
    margin-left: -2rem;
    border-radius: 5px;
    text-align: center;
}

.buttom div a {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.buttom div a:hover{
    color: rgba(10, 8, 136, 0.648);
}


/* ---------------SHOPPING CART -------------------------------- */

.shopping__carts{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden
}

.shopping__cart{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    scale(.5);
    width: 60%;
    height: 80%;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: white;
    opacity: 0;
    visibility: hidden;

}

.shopping__cart h2 {
    text-align: center;
    font-size: 2rem;
}


.shopping__carts.show{
    visibility: visible;
}

.shopping__cart.show{
    transform: translate(-50%, -50%)
    scale(1.1);
    opacity: 1;
    visibility: visible;
}

.shoppingcart__close{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}

.shoppingcart__close i{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}

.shoppingcart__close i:hover{
    fill: crimson;
}

.shoppingcart__center{
    width: 90%;
    margin: 0 auto;
   
}

.shoppingcart__item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px #0062cc;
    border-radius: 5px;
}

.shoppingcart__item img{
    width: 9rem;
}

.shoppingcart__item h3{
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.shoppingcart__item .price{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-left: -1rem;
}

.shoppingcart__item div i{
    fill: #0062cc;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: .3rem;
}

.shoppingcart__item .cantidad{
    font-size: 2rem;
    font-weight: bold;
    color: #0062cc;
}

.shoppingcart__item .remove__item i{
    width: 68px;
    height: 88px;
    fill: crimson;
    margin-top: 2rem;
}

.shoppingcart__footer{
    text-align: center;
    margin-bottom: 3rem;
}

.shoppingcart__footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.shoppingcart__footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #0062cc;
    border: 0;
    outline: 0;
    cursor: pointer;

}

.shoppingcart__footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: #0062cc;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.shoppingcart__footer .btn:hover{
    background-color: #042548b8;
    color: white;
}


/* -----------------------------MEDIA -----------------------------------------------------------*/

@media only screen and ( max-width: 1000px ) {
    .shoppingcart__item {
        width: 92%;
    }
}

@media only screen and ( max-width: 700px ) {
    .shopping__cart {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .shoppingcart__item h3 {
        font-size: 1.2rem;
    }
}

















